In [1]:
from utils import *
import pandas as pd

In [2]:
show_elo()

{'Anu': 1368,
 'Milo': 1062,
 'Theo': 1200,
 'Nyk': 1081,
 'Franky': 1213,
 'Hayden': 1275,
 'Brendon': 1193}

In [3]:
print_leaderboard()

1 - Anu: 1368
2 - Hayden: 1275
3 - Franky: 1213
4 - Theo: 1200
5 - Brendon: 1193
6 - Nyk: 1081
7 - Milo: 1062